<h4>Editing Customer Location Pricelist</h4>

<br>

<%= render 'form', customer_location_pricelist: @customer_location_pricelist %>

<br>
<%= link_to 'Back', customer_location_pricelists_path, class:"btn btn-secondary" %>
