<h4>New Customer Product for "<%= @customer_name %>"</h4>

<br>

<%= render 'form', customer_product: @customer_product %>

<br>

<%= link_to 'Back', customer_path(params[:customerid]), class:"btn btn-secondary" %>
