<h4>Editing Customer Product Pricelist</h4>

<br>
<%= render 'form', customer_product_pricelist: @customer_product_pricelist %>

<br>
<%= link_to 'Back', customer_product_url(@customer_product), class:"btn btn-secondary" %>
<br>
<br>
